<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <appSettings>
      <add key="OutputPath" value="D:\Projects\mangosscripts\Eluna" />
      <add key="WDBXEditorPath" value="D:\Projects\mangosscripts\WDBX.Editor" />
      <add key="DBCFolderPath" value="D:\Projects\mangosscripts\dbc" />
   </appSettings>
</configuration>